<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<div [style]="{alignContent: 'center'}">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <form [formGroup]="modelForm" (ngSubmit)="save()">
    <p-card [style]="{width: '60%', alignContent: 'center'}" styleClass="p-card-shadow" class="example-card">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 15px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{'Kolor włosów *:'}}
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown [options]="hairColor" formControlName="hair" placeholder="Wybierz kolor włosów" [showClear]="true"></p-dropdown>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!modelForm.controls['hair'].valid&&modelForm.controls['hair'].dirty">
              <i class="fa fa-close"></i>
            </div>
          </div>
          <div class="ui-grid-col-2">
            {{'Kolor oczu *:'}}
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown [options]="eyesColor" formControlName="eyes" placeholder="Wybierz kolor oczu" [showClear]="true"></p-dropdown>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!modelForm.controls['eyes'].valid&&modelForm.controls['eyes'].dirty">
              <i class="fa fa-close"></i>
            </div>
          </div>
        </div>
        <div class="col-12" class="buttons">
          <ng-template pTemplate="footer">
            <p-button label="Zapisz" icon="pi pi-save" class="button" (click)="save();"></p-button>
          </ng-template>
        </div>
      </div>
    </p-card>
  </form>
</div>

