<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<p-confirmPopup></p-confirmPopup>
<div class="surface-card p-4 shadow-2 border-round">
      <div class="grid">
        <div class="col-4 flex align-items-center justify-content-center">
          <p-image src="{{user.main_photo_url}}" width="300"></p-image>
        </div>
        <div class="col-8">
          <div class="grid">
            <div class="col-4">
              <div class="col-12">
                <div class="text-3xl font-medium text-900 mb-3" [style]="{width: '360px'}">Informacje o profilu</div>
                <div class="font-medium text-500">{{user.email}}</div>
              </div>
              <div class="col-12">
                <p>{{survey.first_name}} {{survey.last_name}}</p>
                <p>{{survey.city}} ({{survey.region}})</p>
                <p>{{this.calculatorService.getAge(survey.birthday_year)}}, {{this.calculatorService.getGender(survey.gender)}}</p>
                <p>Tel: {{survey.phone_number}}</p>
              </div>
            </div>
            <div class="col-4">
              <div class="grid">
                <div class="col-12 mb-4 mt-3">
                  <p-button label="Zobacz portfolio" class="button mb-3" (click)="this.router.navigate(['/portfolios']);"></p-button>
                </div>
                <div class="col-12 mb-4">
                  <p-button label="Zaproś na sesję" class="button mb-3" (click)="this.router.navigate(['/photoshoot/'+this.user.id]);"></p-button>
                </div>
                <div class="col-12">
                  <p-button label="Dodaj komentarz" class="button" *ngIf="addCommentPossible(this.user.id)"
                            (click)="addNewComment()"></p-button>
                  <p-dialog header="Nowy komentarz" [(visible)]="newComment" [style]="{width: '50vw'}">
                    <form [formGroup]="commentForm" >
                      <label for="rating" class="block text-900 font-medium mb-2">Ocena *:
                        <p-message [style]="{'height':'15px', 'margin-bottom': '15px'}" severity="error" text="Niepoprawna nazwa" *ngIf="!commentForm.controls['rating'].valid&&commentForm.controls['rating'].dirty"></p-message>
                      </label>
                      <star-rating [value]="this.rating" (rate)="onRate($event)" id="rating" [totalstars]="this.rating" checkedcolor="blue"
                                   uncheckedcolor="white" size="24px" [readonly]="false"></star-rating>
                      <label for="description" class="block text-900 font-medium mb-2">Treść *:
                        <p-message [style]="{'height':'15px', 'margin-bottom': '15px'}" severity="error" text="Niepoprawny opis" *ngIf="!commentForm.controls['description'].valid&&commentForm.controls['description'].dirty"></p-message>
                      </label>
                      <input [formGroup]="commentForm" formControlName="description" type="text" id="description" pInputText class="w-full mb-3">
                      <button  pButton pRipple [style]="{'width':'200px', 'margin-bottom': '10px'}"  label="Dodaj" icon="pi pi-check" (click)="addComment();"></button>
                    </form>
                  </p-dialog>
                </div>
              </div>
            </div>
            <div class="col-4" *ngIf="ifHasInstagram();">
              <div class="grid">
                <div class="col-12 mt-3 flex align-items-center justify-content-center">
                  <p-button  icon="pi pi-instagram" (click)="goToInstagram();"></p-button>
                </div>
                <div class="col-12 flex align-items-center justify-content-center">
                  {{this.survey.instagram_name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<div class="grid">
  <div class="col-12">
    <h3 class="col-2 mb-2 mt-2 ml-4">Komentarze</h3>
  </div>
  <div class="col-12">
    <p-table #dt2 [value]="comments" dataKey="id" styleClass="p-datatable-sm" responsiveLayout="scroll" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>Nazwa użytkownika</th>
          <th>Treść</th>
          <th>Ocena</th>
          <th>Data dodania</th>
          <th>Usuwanie</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-comment>
        <tr>
          <td>
            {{comment.rating_user_username}}
          </td>
          <td>
            {{comment.content}}
          </td>
          <td>
            <star-rating value="{{comment.rating}}"  totalstars="5" checkedcolor="blue" uncheckedcolor="white"
                         size="24px" [readonly]="true"></star-rating>
          </td>
          <td>
            {{comment.date}}
          </td>
          <td>
            <button type="button" pButton pRipple icon="pi pi-pencil" *ngIf="deleteCommentPossible(comment.rated_user_id)"
                    (click)="this.deleteComment(comment.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Brak komentarzy</td>
        </tr>
      </ng-template>
    </p-table>  </div>
</div>
