.container{
  margin-top: 20px;
  top: 75%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p-card-footer{

  text-align: center;
}

.col-12 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
}

.buttons{
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  width: 50px;
}

:host ::ng-deep .p-password input {
  flex: 1 1 auto;
  width: 15rem
}
