<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-card [style]="{width: '100%'}">
  <div class="grid">
    <div class="col-6">
      <h3 style="margin-top: 0px">{{portfolio.name}}</h3>
      <div class="grid">
        <div class="col-12 flex align-items-start h-3rem">
          <strong class="mr-4">Data dodania:</strong>{{this.calculatorService.getDate(portfolio.added_date)}}
        </div>
        <div class="col-12 flex align-items-start">
          <strong class="mr-4">Opis: </strong>{{portfolio.description}}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="justify-content-center">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5"
                    [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.url" style="width: 100%; display: block;"/>
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
  </div>
</p-card>
