
    <h2>Regulamin Serwisu</h2>

    <h3>I. Definicje </h3>
    Użyte w Regulaminie pojęcia oznaczają:

    <br><br> 1. Serwis, działający pod adresem lokalnym

    <br>2. Administrator - Claudia Polaczek

    <br>3. Użytkownik – osoba prawna, osoba fizyczna o pełnej zdolności do czynności prawnych (powyżej 18 roku życia) lub osoba fizyczna o ograniczonej zdolności do czynności prawnych (powyżej 13 roku życia) - przy czym musi ona dysponować zgodą opiekuna prawnego na posiadanie konta w Serwisie. Zgoda ta musi zostać okazana Administratorowi na każde jego żądanie.

    <br>4. Nazwa Użytkownika – oraz login będący nazwą użytkownika za pomocą którego dokonano rejestracji w Serwisie.

    <br>5. Dane osobowe – wszelkie dane podane przez Użytkownika podczas rejestracji albo późniejszego uzupełniania Konta Użytkownika, w szczególności: imię i nazwisko, data urodzenia, wiek, miasto, województwo, kolor włosów, kolor oczu, profesja.

    <br>6. Konto Użytkownika – przestrzeń pamięci określona loginem oraz hasłem, dostępna przez Internet wraz z mechanizmami umożliwiającymi korzystanie z Usługi.

    <br>7. Usługa – pakiet świadczeń będących usługami elektronicznymi w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. 2002 nr 144 poz. 1204 z późn. zm.) obejmujący utrzymanie Konta Użytkownika w serwisie oraz jego dodatkowe funkcjonalności.

    <br>8. Serwis – strona internetowa dostępna pod lokalnym adresem

    <br>9. Regulamin – niniejszy dokument.

    <br>10. Treść – oznacza Komentarze oraz utwory, w szczególności zdjęcia zamieszczane przez Użytkowników w Serwisie.

    <br>11. Komentarz – każda publikowana treść odnosząca się do Profilu Użytkownika.

    <br>12. Profil – strona www każdego Użytkownika w Serwisie, utrzymywana w ramach Konta Użytkownika.

    <br>13. Zaproszenie – opublikowana w Serwisie Treść mająca na celu zaproszenie odbiorcy do współpracy.

    <h3>II. Postanowienia ogólne</h3>

    1. Niniejszy Regulamin określa zasady korzystania z serwisu.

    <br>2. Serwis pełni funkcję społecznościowej platformy promocyjnej skupiającej modelki, modelów i fotografów, służącej do wymiany doświadczeń oraz kontaktów w celu kreowania wizerunku w branży modelingu i foto modelingu.

    <br>3. Serwis oraz zawarte w nim materiały – z wyłączeniem treści pochodzących od Użytkowników i materiałów pochodzących od innych usługodawców, stanowią własność Administratora.

    <br>4. Modyfikowanie, kopiowanie, dystrybucja, przekazywanie, wyświetlanie, przesyłanie, przedrukowywanie, sublicencjonowanie, tworzenie zbiorczych prac z materiałów zamieszczonych w Serwisie nie jest dozwolone chyba, że na zlecenie upoważnionego do tego organu, na podstawie odrębnych przepisów prawa.

    <br>5. Dokonując rejestracji Użytkownik oświadcza, że przysługują mu majątkowe prawa autorskie do zamieszczanych w Serwisie zdjęć, a czynność ta nie spowoduje to naruszenia jakichkolwiek praw osób trzecich.

    <br>6. Dokonując rejestracji w Serwisie Użytkownik wyraża zgodę na przetwarzanie, gromadzenie, utrwalanie, przechowywanie opracowywanie, udostępnianie i usuwanie danych osobowych w zakresie prawidłowego świadczenia usług przez Serwis.

    <br>7. W trakcie procedury rejestracji w Serwisie Użytkownik wyraża zgodę na przetwarzanie przez Administratora jego danych osobowych w szerszym zakresie niż w pkt II. ust. 7. Powyższa zgoda obejmuje zezwolenie udzielone Administratorowi na wykorzystywanie tych danych osobowych Użytkownika w celach marketingowych, ( zgodnie z ustawą z 1998 r. o ochronie danych osobowych Data Protection Act 1998 (DPA) oraz EU General Data Protection Regulation (GDPR)), w tym otrzymywanie informacji handlowej od Administratora w wiadomości prywatnej lub na podany w trakcie rejestracji adres e-mail.

    <br>8. Administrator zastrzega, iż nie ponosi odpowiedzialności za przerwy w działaniu Serwisu oraz za ewentualną, niezamierzoną utratę Danych osobowych oraz Treści zgromadzonych na Koncie Użytkownika, jednak dokona należytych starań by zbiór ten odpowiednio zabezpieczyć.

    <br>9. Przeglądanie Serwisu dostępne jest dla każdego odwiedzającego. Nie wymaga ono założenia Konta Użytkownika.

    <h3>III. Rejestracja</h3>

    1. Warunkiem korzystania z Usługi jest założenie Konta Użytkownika.

    <br>2. Rejestracja w Serwisie jest bezpłatna i odbywa się za pomocą formularza z nazwą użytkownika/loginem.

    <br>3. Każde kolejne logowanie do Serwisu odbywa się za pośrednictwem aplikacji, za pośrednictwem której Użytkownik założył Konto Użytkownika.

    <br>4. Podczas zakładania Konta Użytkownika z aplikacji określonych w pkt. III ust. 2 pobierane są takie Dane osobowe jak: imię i nazwisko Użytkownika, numer telefonu oraz rok urodzenia.

    <br>5. Podczas rejestracji w Serwisie Użytkownik musi uzupełnić Profil o dodatkowe informacje, takie jak m.in.: wykonywana profesja, płeć, numer telefonu, miasto i województwo zamieszkania, wzrost, waga, wymiary ciała, długość oraz kolor włosów.

    <br>6. Po dokonaniu rejestracji w Serwisie Użytkownik może uzupełnić Profil o dodatkowe informacje, takie jak m.in.: kolor włosów, kolor oczu i nazwa użytkownika w serwisie Instagram.

    <br>7. Nazwą Konta Użytkownika jest login podany w czasie rejestracji

    <br>8. W wyjątkowych sytuacjach Użytkownik może zostać poproszony przez Administratora o zmianę danych Konta Użytkownika. Modelki, modele, fotografowie mogą wystąpić pod imieniem i nazwiskiem lub mogą przyjąć nazwę użytkownika / pseudonim artystyczny zgodny z prowadzoną przez niego działalnością, co podlegać będzie weryfikacji Administracji serwisu. Niezastosowanie się do prośby zmiany nazwy użytkownika Administratora w przewidzianym terminie skutkować będzie usunięciem Konta Użytkownika z Serwisu.

    <br>12. Dokonując rejestracji w Serwisie Użytkownik wyraża zgodę na wykorzystywanie wprowadzonych przez niego Treści w ramach swojego Konta Użytkownika do promocji tego konta poprzez Serwis oraz powiązane z nim profile na portalach społecznościowych

    <h3>IV. Obowiązki Użytkownika</h3>

    Użytkownik zobowiązany jest do:
    <br>a) przestrzegania zapisów Regulaminu,
    <br>b) przestrzegania praw autorskich Treści zamieszczonych w Serwisie,
    <br>c) zawiadamiania Administratora o każdym przypadku łamania Regulaminu przez innych Użytkowników,
    <br>d) powstrzymania się od zamieszczania w Serwisie Treści, które są powszechnie uważane za wulgarne, obsceniczne, pornograficzne lub sprzeczne z celem i zasadami funkcjonowania Serwisu,
    <br>e) przedstawiania wypowiedzi, które cechować powinna wartość merytoryczna, należy unikać wpisów pozbawionych klasy,
    <br>f) dbania o możliwie wysoki poziom techniczny i artystyczny dodawanych materiałów,
    <br>g) unikania dodawania zdjęć osób/modeli niepełnoletnich, ze względu na dostęp treści 'tylko dla dorosłych', chyba, że twórca posiada stosowne zgody do publikacji zdjęć tych osób w takich miejscach,

    <h3>V. Funkcjonowanie Serwisu</h3>

    1. W ramach funkcjonowania Serwisu Użytkownik może zamieszczać Treści, w szczególności zdjęcia oraz Komentarze.

    <br>  2. Serwis umożliwia bezpłatne dodawanie Zaproszeń. Odpowiadać na Zaproszenia można za pośrednictwem Serwisu lub danych kontaktowych podanych w treści Ogłoszenia.

    <br>  3. Administrator zastrzega sobie prawo do kasowania Komentarzy jeżeli uzna, iż są one wulgarne, pozbawione klasy, nie merytoryczne bądź naruszają obowiązujące przepisy prawa.

    <br>  4. Każde Konto Użytkownika posiada powiadomienia systemowe widoczne tylko dla danego Użytkownika na jego Profilu. Pojawiają się tam informacje o Komentarzach zamieszczonych pod jego zdjęciami oraz o odpowiedziach na jego Zaproszenia.

    <br>  5. Użytkownik oświadcza, iż posiada uprawnienia lub zgody wymagane przepisami prawa do tego, aby Treści publikowane przez niego w Serwisie nie spowodowały jakichkolwiek naruszeń praw osób trzecich.

    <br> 6. W sytuacji, gdy w stosunku do Administratora zostaną skierowane przez podmioty trzecie jakiekolwiek roszczenia, odnośnie naruszeń jakichkolwiek praw do opublikowanych Treści lub wizerunku osobistego osób trzecich – w szczególności praw autorskich oraz dóbr osobistych, Administrator dokona zablokowania tych Treści, a Użytkownik zobowiązuje się złożyć odpowiedź na zarzuty podmiotu trzeciego oraz pokryć ewentualną wynikłą stąd szkodę w pełnej wysokości, jak również poniesione przez Administratora koszty zastępstwa prawnego.

    <br>  7. Administrator może podjąć decyzję o usunięciu Konta Użytkownika, jeżeli jego zdaniem Użytkownik rażąco narusza Regulamin lub korzysta z Serwisu w sposób niezgodny z jego przeznaczeniem.

    <br>   8. Konto Użytkownika może zostać usunięte jeżeli jest kolejnym, dodatkowym kontem tego samego Użytkownika (tej samej profesji), lub w którym widnieje on pod inną profesją a konto to pozostaje „kontem martwym” (nie są w nim prowadzone aktywności w dłuższym okresie czasu), lub konto jest niekompletne.

    <br>  9. Konto Użytkownika może zostać usunięte na prośbę Użytkownika. W tym celu powinien on skontaktować się z Administratorem. Użytkownik może również usunąć konto samodzielnie w ustawieniach swojego profilu.

    <br> 10. Użytkownicy mają możliwość zgłaszania Administratorowi za pośrednictwem maila podanego na stronie wszelkich uwag i nadużyć związanych z funkcjonowaniem Serwisu oraz działaniami innych Użytkowników.

    <br>  11. Administrator udzieli odpowiedzi na każde zgłoszenie Użytkownika w ciągu 48 godzin. Jeżeli Administrator uzna dane zgłoszenie za zasadne, podejmie dalsze kroki celem przywrócenia prawidłowego funkcjonowania Serwisu.

    <br>  12. Niedopuszczalne jest wprowadzanie do Serwisu przez Użytkowników łącz alfanumerycznych zawierających odnośniki do serwisów konkurencyjnych o podobnej tematyce.

    <br> 13. Za wyjątkiem czynności określonej w pkt. V ust. 16, niedopuszczalne jest reklamowanie serwisów konkurencyjnych za pośrednictwem Serwisu

    <br>  14. Zabronione jest zamieszczanie w Serwisie zdjęć dzieci – osób poniżej 15 roku życia, o charakterze aktu, prezentacji bielizny lub noszących w ocenie Administratora znamiona fotografii erotycznej lub pornograficznej. Zamieszczenie tego typu zdjęć będzie powodowało usunięcie Konta Użytkownika oraz złożenie zawiadomienia do organów ścigania, w przypadku podejrzenia popełnienia przestępstwa.

    <h3>VI. Poufność. Polityka prywatności</h3>

    1. Dane osobowe Użytkownika będą przekazywane podmiotom trzecim jedynie w sytuacji, gdy tego typu działanie wymagane jest od Administratora na podstawie obowiązujących przepisów prawa. Od 25 maja 2018 roku przetwarzamy Wasze dane osobowe zgodnie z Rozporządzeniem o Ochronie Danych Osobowych tzw. RODO.

    <br> 2. Baza Kont Użytkowników podlega ochronie prawnej.

    <br>3. Każdy Użytkownik ma prawo do:
    <br> a) wglądu do swoich danych przetwarzanych przez administratora określonego w pkt. VI ust. 2,
    <br> b) poprawiania tych danych,
    <br>c) żądania zaniechania ich przetwarzania poprzez usuniecie z bazy Kont Użytkowników.

    <br> 4. Obowiązki administratora danych .
    <br> Administrator danych zobowiązuje się do przetwarzania danych, tylko w zakresie zgód, które zostały udzielone przy procesie rejestracji, o których mowa w niniejszym regulaminie.
    <br>Administrator danych zobowiązuje się dołożyć wszelkich starań aby powierzone mu dane były stosownie chronione, zabezpieczone.

    <h3>VII. Postanowienia końcowe</h3>

    1. Administrator dołoży wszelkich starań, aby Serwis oraz wszelkie usługi udostępniane za jego pośrednictwem działały w sposób ciągły bez jakichkolwiek zakłóceń.

    <br>2. Administrator zastrzega sobie prawo do zamieszczania w Serwisie materiałów reklamowych, w szczególności w formie bannerów wyświetlanych na stronach Serwisu lub artykułów sponsorowanych.

    <br>3. Administrator zastrzega sobie prawo do zmiany treści Regulaminu. W takiej sytuacji Użytkownicy zostaną poinformowani o wprowadzonych zmianach stosownymi komunikatami.

    <br>4. Administrator nie ponosi odpowiedzialności za okresowe przerwy i utrudnienia w korzystaniu z Serwisu.

    <br>5. Administrator zastrzega sobie prawo do zaprzestania działalności Serwisu z przyczyn technicznych.

    <br>6. Administrator zastrzega sobie prawo do całkowitego zaprzestania działalności Serwisu bez podania przyczyny, po uprzednim poinformowaniu Użytkowników o podjęciu takiej decyzji.7. W sprawach nieuregulowanych Regulaminem mają zastosowanie przepisy prawa powszechnego.

    <br>7. Wszelkie uwagi, komentarze oraz pytania dotyczące działania Serwisu należy kierować na adres: claupol070@student.polsl.pl

    <br>8. Regulamin wchodzi w życie z dniem 01.01.2020 r. Aktualizacja zapisów związanych z ochroną danych osobowych (RODO) 25 maja 2018.
