<div [style]="{alignContent: 'center'}">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <p-table [value]="notifications" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Powiadomienie</th>
        <th>Data</th>
        <th>Przeczytane</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-notification>
      <tr>
        <td>{{notification.content}}</td>
        <td>{{this.calculatorService.getDate(notification.added_date)}}</td>
        <td>
          <button *ngIf="ifNotificationIsAlreadyRead(notification.read_value)" label="Oznacz jako przeczytane" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="readNotification(notification)"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
