<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <form [formGroup]="registerForm" >
    <label for="name" class="block text-900 font-medium mb-2">Imię *:</label>
    <input [formGroup]="registerForm"  value="{{survey.first_name}}" placeholder="{{survey.first_name}}" formControlName="name" type="text" pKeyFilter="alpha" id="name" pInputText class="w-full mb-3">

    <label for="surname" class="block text-900 font-medium mb-2">Nazwisko *:</label>
    <input [formGroup]="registerForm" value="{{survey.last_name}}" placeholder="{{survey.last_name}}" formControlName="surname" type="text" id="surname" pKeyFilter="alpha" pInputText class="w-full mb-3">

    <label for="birthdayYear" class="block text-900 font-medium mb-2">Rok urodzenia *:
      <p-message [style]="{'height':'15px', 'margin-bottom': '15px'}" severity="error" text="Niepoprawny rok" *ngIf="!registerForm.controls['birthdayYear'].valid&&registerForm.controls['birthdayYear'].dirty"></p-message>
    </label>
    <input [formGroup]="registerForm" value="{{survey.birthday_year}}"  placeholder="{{survey.birthday_year}}" formControlName="birthdayYear" type="text" id="birthdayYear" pInputText class="w-full mb-3">

    <label for="region" class="block text-900 font-medium mb-2">Województwo *:</label>
    <p-dropdown autoWidth="false" [style]="{'width':'100%', 'margin-bottom': '10px'}"
                [formGroup]="registerForm" formControlName="region" placeholder="{{survey.region}}" [options]="regon"
                id="region" class="w-full mb-3"></p-dropdown>

    <label for="city" class="block text-900 font-medium mb-2">Miasto *:
      <p-message [style]="{'height':'15px', 'margin-bottom': '15px'}" severity="error" text="Niepoprawne miasto" *ngIf="!registerForm.controls['city'].valid&&registerForm.controls['city'].dirty"></p-message>
    </label>
    <input [formGroup]="registerForm" value="{{survey.city}}" placeholder="{{survey.city}}" formControlName="city" type="text" id="city" pInputText class="w-full mb-3">

    <label for="phoneNumber" class="block text-900 font-medium mb-2">Numer telefonu *:</label>
    <input [formGroup]="registerForm" value="{{survey.phone_number}}" placeholder="{{survey.phone_number}}" formControlName="phoneNumber" type="text" id="phoneNumber" pKeyFilter="int" pInputText class="w-full mb-3">

  </form>
  <button pButton pRipple [style]="{'width':'200px', 'margin-bottom': '10px'}" label="Zapisz zmiany" icon="pi pi-save" (click)="save();"></button>
</div>
