<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<div [style]="{alignContent: 'center'}">
  <form [formGroup]="passwordForm" (ngSubmit)="save()">
    <p-card [style]="{width: '60%', alignContent: 'center'}" styleClass="p-card-shadow" class="example-card">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 15px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{'Stare hasło *:'}}
          </div>
          <div class="ui-grid-col-2">
            <p-password formControlName="oldPassword" [feedback]="false" [toggleMask]="true" placeholder="{{'xxx123'}}"></p-password>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordForm.controls['oldPassword'].valid&&passwordForm.controls['oldPassword'].dirty">
              <i class="fa fa-close"></i>
              {{'Hasło jest wymagane'}}
            </div>
          </div>
          <div class="ui-grid-col-2">
            {{'Nowe hasło *:'}}
          </div>
          <div class="ui-grid-col-2">
            <p-password formControlName="password" [toggleMask]="true" placeholder="{{'xxx123'}}"></p-password>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordForm.controls['password'].valid&&passwordForm.controls['password'].dirty">
              <i class="fa fa-close"></i>
              {{'Hasło jest wymagane'}}
            </div>
          </div>
          <div class="ui-grid-col-2">
            {{'Potwierdź hasło *:'}}
          </div>
          <div class="ui-grid-col-2">
            <p-password formControlName="repeatPassword" [feedback]="false"></p-password>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordForm.controls['repeatPassword'].valid&&passwordForm.controls['repeatPassword'].dirty">
              <i class="fa fa-close"></i>
              {{'Hasło jest wymagane'}}
            </div>
          </div>
        </div>
        <div class="col-12" class="buttons">
          <ng-template pTemplate="footer">
            <p-button label="Zapisz" icon="pi pi-save" class="button" (click)="save();"></p-button>
          </ng-template>
        </div>
      </div>
    </p-card>
  </form>
</div>

