<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<div [style]="{alignContent: 'center'}">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <form [formGroup]="instagramForm" (ngSubmit)="save()">
    <p-card [style]="{width: '60%', alignContent: 'center'}" styleClass="p-card-shadow" class="example-card">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 15px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{'Nazwa konta w serwisie instagram *:'}}
          </div>
          <div class="ui-grid-col-2">
            <input pInputText type="text" pKeyFilter="alpha" formControlName="instagram" placeholder="{{'instagram'}}"/>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!instagramForm.controls['instagram'].valid&&instagramForm.controls['instagram'].dirty">
              <i class="fa fa-close"></i>
              {{'Nazwa użytkownika jest wymagana'}}
            </div>
          </div>
          <div class="col-12" class="buttons">
            <ng-template pTemplate="footer">
              <p-button label="Zapisz" icon="pi pi-save" class="button" (click)="save();"></p-button>
            </ng-template>
          </div>
        </div>
      </div>
    </p-card>
  </form>
</div>

