<div class="surface-card p-4 shadow-2 border-round">
  <p-card header="Login"[style]="{width: '360px'}" styleClass="p-card-shadow" class="example-card">
<h3 style="margin-top: 0px">{{user.email}}</h3>
<p><strong>Imię: </strong>{{userDetails.survey.name}}</p>
<p><strong>Nazwisko: </strong>{{userDetails.survey.name}}</p>
<p><strong>Rok urodzenia: </strong>{{userDetails.survey.birthdayYear}}</p>
<p><strong>Płeć: </strong>{{getGender(userDetails.survey.gender)}}</p>
<p><strong>Województwo: </strong>{{userDetails.survey.region}}</p>
<p><strong>Miasto: </strong>{{userDetails.survey.city}}</p>
<p><strong>Numer telefonu: </strong>{{userDetails.survey.phoneNumber}}</p>
  <p><strong>Rola: </strong>{{getOccupation(userDetails.role)}}</p>

    <div style="margin-bottom: 15px">
      <el-image
        style="width: 300px; height: 300px"
        :src="user.user.mainPhotoUrl"
        :fit="'contain'">
      </el-image>
    </div>

    <p-button type="primary" [@click]="deleteUser(user)">Usuń profil</p-button>
  </p-card>
</div>
