<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<div class="surface-card p-4 shadow-2 border-round">
    <h3 style="margin-top: 0px">{{portfolio.name}}</h3>
    <img src="{{portfolio.mainPhotoUrl}}" width="100"/>
    <p><strong>Nazwa: </strong>{{portfolio.name}}</p>
    <p><strong>Opis: </strong>{{portfolio.description}}</p>
    <p><strong>Data utworzenia: </strong>{{getDate(portfolio.added_date)}}</p>
    <div class="col-12" class="buttons">
        <p-button label="Edytuj dane" icon="pi pi-pencil" class="button" (click)="editPortfolio()"></p-button>
        <p-dialog header="Edycja albumu" [(visible)]="editDialog" [style]="{width: '50vw'}">
          <form [formGroup]="albumForm" (ngSubmit)="save()">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 15px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                {{'Nazwa *:'}}
              </div>
              <div class="ui-grid-col-2">
                <input pInputText formControlName="name" value="{{portfolio.name}}" />
              </div>
              <div class="ui-grid-col-2">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!albumForm.controls['name'].valid&&albumForm.controls['name'].dirty">
                  <i class="fa fa-close"></i>
                  {{'Nazwa jest wymagane'}}
                </div>
              </div>
              <div class="ui-grid-col-2">
                {{'Opis *:'}}
              </div>
              <div class="ui-grid-col-2">
                <textarea pInputTextarea formControlName="description" value="{{portfolio.description}}"></textarea>
              </div>
              <div class="ui-grid-col-2">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!albumForm.controls['description'].valid&&albumForm.controls['description'].dirty">
                  <i class="fa fa-close"></i>
                  {{'Opis jest wymagany'}}
                </div>
              </div>
            </div>
          </div>
          </form>
            <ng-template pTemplate="footer">
              <p-button icon="pi pi-check" (click)="updatePortfolio()" label="Zapisz zmiany" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-dialog>
        <p-button label="Dodaj zdjęcie" class="button" (click)="addPhotoDialog()"></p-button>
        <p-dialog header="Nowe zdjęcia" [(visible)]="photoDialog" [style]="{width: '50vw'}">
          <p-fileUpload (uploadHandler)="myUploader($event)" customUpload="true" name="demo[]"
                        multiple="multiple" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="save()" label="Ok" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>
    </div>
  <p-carousel [value]="images" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h5>Basic</h5>
    </ng-template>
    <ng-template let-image pTemplate="item">
      <div class="images-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img src="{{image.url}}" [alt]="image.name" class="product-image" />
          </div>
          <div>
            <h4 class="mb-1">{{image.name}}</h4>
            <div class="car-buttons mt-5">
              <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-user"></p-button>
              <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-home"></p-button>
              <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-trash"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
