<div class="card">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <p-table #dt2 [value]="modelsList" dataKey="id" styleClass="p-datatable-lg"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
           [paginator]="true"
           [globalFilterFields]="['name', 'birthday_year', 'city','region', 'gender', 'hair_color', 'eyes_color']">
    <ng-template pTemplate="header">
      <tr>
        <th>Zdjęcie główne</th>
        <th>Imię Nazwisko</th>
        <th>Wiek</th>
        <th>Miasto</th>
        <th>Województwo</th>
        <th>Płeć</th>
        <th>Kolor włosów</th>
        <th>Kolor oczu</th>
        <th style="width:4rem"></th>
      </tr>
      <tr>
        <th>

        </th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="birthday_year" matchMode="equals" [showMenu]="false"
                          [matchMode]="'custom-age'">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="ageOptions"  (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="city"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="region" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="regons" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="gender" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="genders" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="hair_color" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="hairColors" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="eyes_color" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="hairColors" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-model>
      <tr>
        <td>
          <p-image src="{{model.main}}" alt="Image" width="100"></p-image>
        <td>
          {{model.name}}
        </td>
        <td>
          {{this.calculatorService.getAge(model.birthday_year)}}
        </td>
        <td>
          {{model.city}}
        </td>
        <td>
          {{model.region}}
        </td>
        <td>
          {{model.gender}}
        </td>
        <td>
          {{model.hair_color}}
        </td>
        <td>
          {{model.eyes_color}}
        </td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-pencil" (click)="this.selectModel(model)"></button>
        </td>
       </tr>
     </ng-template>
     <ng-template pTemplate="emptymessage">
       <tr>
         <td colspan="5">Brak modelek</td>
       </tr>
     </ng-template>
   </p-table>
 </div>

