<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<div [style]="{alignContent: 'center'}">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <form [formGroup]="albumForm" name="Nowy album" (ngSubmit)="save()">
    <p-card [style]="{width: '60%', alignContent: 'center'}" styleClass="p-card-shadow" class="example-card">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 15px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            {{'Nazwa *:'}}
          </div>
          <div class="ui-grid-col-2">
            <input pInputText formControlName="name"/>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!albumForm.controls['name'].valid&&albumForm.controls['name'].dirty">
              <i class="fa fa-close"></i>
              {{'Nazwa jest wymagane'}}
            </div>
          </div>
          <div class="ui-grid-col-2">
            {{'Opis *:'}}
          </div>
          <div class="ui-grid-col-2">
            <textarea pInputTextarea formControlName="description"></textarea>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!albumForm.controls['description'].valid&&albumForm.controls['description'].dirty">
              <i class="fa fa-close"></i>
              {{'Opis jest wymagany'}}
            </div>
          </div>
        </div>
        <div class="col-12" class="buttons">
          <ng-template pTemplate="footer">
            <p-button label="Utwórz album" icon="pi pi-save" class="button" (click)="save();"></p-button>
          </ng-template>
        </div>
      </div>
    </p-card>
  </form>
</div>

